@use "@carbon/styles/scss/theme" as *;
@use "@carbon/styles/scss/components/button/tokens" as button-tokens;

* {
  scrollbar-width: thin !important;
  scrollbar-color: $border-inverse $border-subtle-01 !important;
}

body {
  color: $text-secondary !important;
}

::selection {
  background-color: #0f62fe60 !important;
}

::-moz-selection {
  background-color: #0f62fe60 !important;
}

#root > div > div {
  border-color: $border-subtle-01;

  > div:first-child::after {
    background-color: $border-interactive;
  }
}

#storybook-preview-wrapper a[title="Skip to sidebar"]:focus {
  background-color: button-tokens.$button-secondary;
  border-radius: 0px;
  color: $text-on-color;
  box-shadow: $focus 0px 0px 0px 2px inset;
}
