* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--cds-border-inverse) var(--cds-border-subtle) !important;
}

body {
  color: var(--cds-text-secondary) !important;
}

::selection {
  background-color: #0f62fe60 !important;
}

::-moz-selection {
  background-color: #0f62fe60 !important;
}

#root > div > div {
  border-color: var(--cds-border-subtle) !important;

  > div:first-child::after {
    background-color: var(--cds-border-interactive) !important;
  }
}

#storybook-preview-wrapper a[title="Skip to sidebar"]:focus {
  background-color: var(--cds-button-secondary) !important;
  border-radius: 0px !important;
  color: var(--cds-text-on-color) !important;
  box-shadow: var(--cds-focus) 0px 0px 0px 2px inset !important;
}
