@use "@carbon/layout" as *;
@use "@carbon/styles/scss/type" as *;
@use "@carbon/styles/scss/theme" as *;
@use "@carbon/styles/scss/components/button/tokens" as button-tokens;
@use "mixins" as *;
@use "panel-shared" as *;

/**
 * DOCS STYLES
 * Main styles for the Storybook docs page.
 * Styles everything on the story MDX page
 */

#storybook-docs {
  // markdown styles block
  .sbdocs-wrapper {
    background-color: $background;

    // headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $text-primary;
    }

    // paragraphs
    p,
    li {
      color: $text-secondary;
    }

    h1 {
      @include type-style("heading-06");
      margin-block-start: 2rem;
      margin-block-end: 0.5rem;
    }

    h2 {
      @include type-style("heading-05");
      margin-block-start: 1.5rem;
      margin-block-end: 0.5rem;
      border: none;
    }
    h3 {
      @include type-style("heading-04");
      margin-block-start: 1rem;
      margin-block-end: 0.5rem;
    }
    h4 {
      @include type-style("heading-03");
      margin-block-start: 0.75rem;
      margin-block-end: 0.5rem;
    }
    h5 {
      @include type-style("heading-02");
      margin-block-start: 0.5rem;
      margin-block-end: 0.5rem;
    }
    h6 {
      @include type-style("heading-01");
      margin-block-start: 0.25rem;
      margin-block-end: 0.5rem;
    }

    hr {
      border-top: 1px solid $border-subtle-01;
      margin: 1rem 0;
    }
  }

  .sbdocs-preview {
    background-color: $background;
    border-color: $border-subtle;
    border-radius: 0;
    box-shadow: none;

    .sb-bar {
      background-color: $layer-01;
      border-bottom: 1px solid $border-subtle;
      box-shadow: none;
      div {
        margin: 0 !important;
      }

      :has(> button) {
        gap: 0;

        button:not([role="tab"]),
        a {
          @include button-size("large");
          @include button-complete;
        }
      }
    }

    .docs-story {
      // show code button
      .docblock-code-toggle {
        background-color: $layer-01;
        border-radius: 0;
        color: $text-primary;
        border-top: 1px solid $border-subtle;
        border-left: 1px solid $border-subtle;
        font-size: 12px;

        &:focus {
          box-shadow: $focus 0px -2px 0px 0px inset;
        }
      }
    }
  }

  /**
   * Controls ArgTable
   * Table showing component props/args with editable controls
   */
  table.docblock-argstable {
    * {
      border-radius: 0;
    }
    /**
     * Table Header
     * Column titles (Name, Description, Type, etc.)
     */
    > thead.docblock-argstable-head > tr > th > span {
      color: $text-primary;
    }

    /**
     * Table Body
     * Rows containing control inputs
     */
    > tbody.docblock-argstable-body {
      filter: none;

      /**
       * Standard Control Rows
       * Individual prop/arg rows with controls
       */
      > tr:not([title]) > td {
        background: $background;
        border-color: $border-subtle;
        color: $text-secondary;

        /**
         * Type Badges
         * Display type information (string, number, etc.)
         */
        .css-mkjjps,
        .css-o1d7ko {
          background: $layer-01;
          border: 1px solid $border-subtle;
          border-radius: 0;
          color: $text-secondary;
        }

        /**
         * Required Indicator
         * Shows which props are required
         */
        span[title="Required"] {
          color: $support-error;
        }

        /**
         * Form Controls
         * All input types within the controls table
         */
        @include form-controls;

        /**
         * Radio Button Styling
         */
        input[type="radio"] {
          @include radio-button;
        }

        /**
         * Toggle Switch Styling
         */
        @include toggle-switch;

        /**
         * Date/Time Inputs
         */
        @include date-time-inputs;
      }

      /**
       * Array/Object Item Rows
       * Expandable rows for complex control types
       */
      > tr[title~="items"] {
        background: $layer-01 !important;
        box-shadow: inset 0px 0px 0px 1px $border-subtle;

        /**
         * Focus state for entire row
         */
        &:has(button:focus) {
          box-shadow: inset 0 0 0 2px $focus !important;
          background: $layer-01 !important;
        }

        > td {
          background-color: transparent !important;
          border: none;
          color: $text-primary;

          > span > svg {
            color: $icon-primary;
          }

          > button:focus {
            outline: none;
          }
        }
      }
    }
  }
}
