@use "sass:list";

@use "@carbon/styles/scss/spacing";
@use "@carbon/layout";
@use "@carbon/styles/scss/type";
@use "@carbon/styles/scss/theme";
@use "@carbon/styles/scss/components/button/tokens" as button-tokens;
@use "mixins";
@use "panel-shared";

// @use "@carbon/styles/scss/theme";
@use "@carbon/styles/scss/utilities/focus-outline";

@use "./defaults";

/**
 * DOCS STYLES
 * Main styles for the Storybook docs page.
 * Styles everything on the story MDX page
 */

#storybook-docs {
  // markdown styles block
  .sbdocs-wrapper {
    background-color: theme.$background;
    // todo exclude unstyled
    @include type.type-style("body-02");

    font-family: type.font-family("sans");
    color: theme.$text-primary;

    @include mixins.link;
    @include mixins.code;
    // @include mixins.description-list;
    // @include mixins.details;
    // @include mixins.dialog;
    // @include mixins.emphasis;
    // @include mixins.fieldset;
    // @include mixins.header-navigation;
    @include mixins.heading;
    @include mixins.horizontal-rule;
    @include mixins.list;
    @include mixins.paragraph;

    button.docblock-code-toggle {
      @include mixins.button("sm", "secondary");
      border-color: theme.$border-subtle;
    }
    .docblock-source button {
      @include mixins.button("sm", "secondary");
      border-color: theme.$background-hover;
    }
  }

  .sbdocs-preview {
    background-color: theme.$background;
    border-color: theme.$border-subtle;
    border-radius: 0;
    box-shadow: none;

    div {
      border-radius: 0;
    }

    .sb-bar {
      background-color: theme.$layer-01;
      border-bottom: 1px solid theme.$border-subtle;
      box-shadow: none;

      div {
        margin: 0 !important;
      }

      :has(> button) {
        gap: 0;

        button {
          @include mixins.button("lg");
        }
      }
    }
  }
  .docblock-source {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid theme.$border-subtle;
  }

  /**
   * Controls ArgTable
   * Table showing component props/args with editable controls
   */
  table.docblock-argstable {
    @include mixins.argstable-base;

    thead {
      background-color: theme.$border-subtle;
      button {
        @include mixins.button("sm");
      }
    }

    /**
     * Table Body
     * Rows containing control inputs
     */
    > tbody.docblock-argstable-body {
      filter: none;

      /**
       * Standard Control Rows
       * Individual prop/arg rows with controls
       */
      > tr:not([title]) > td {
        @include mixins.argstable-row;

        /**
         * Type Badges
         * Display type information (string, number, etc.)
         * Note: Using attribute selectors instead of CSS class names for better maintainability
         */
        [class*="css-"] {
          @include mixins.argstable-type-badge;
        }

        /**
         * Required Indicator
         * Shows which props are required
         */
        span[title="Required"] {
          @include mixins.argstable-required;
        }

        /**
         * Form Controls
         * All input types within the controls table
         */
        @include panel-shared.form-controls;

        /**
         * Radio Button Styling
         */
        input[type="radio"] {
          @include panel-shared.radio-button;
        }

        /**
         * Checkbox Styling
         */
        input[type="checkbox"]:not([role="switch"]) {
          @include panel-shared.checkbox;
        }

        /**
         * Toggle Switch Styling
         */
        @include panel-shared.toggle-switch;

        /**
         * Date/Time Inputs
         */
        @include panel-shared.date-time-inputs;

        /**
         * Range Inputs
         */
        @include panel-shared.range-input;
      }

      /**
       * Array/Object Item Rows
       * Expandable rows for complex control types
       */
      > tr[title~="items"] {
        @include mixins.argstable-item-row;
      }
    }
  }
}

// // prism js inconsistently implemented in storybook
// [storybook-carbon-theme="white"],
// [storybook-carbon-theme="g10"] {
//   @media (prefers-color-scheme: dark) {
//     .docblock-source,
//     pre.prismjs {
//       background-color: theme.$background-inverse !important;
//       // background-color: black;
//     }
//   }
//   @media (prefers-color-scheme: light) {
//     .docblock-source,
//     pre.prismjs {
//       background-color: theme.$layer !important;
//     }
//   }
// }

// [storybook-carbon-theme="g90"],
// [storybook-carbon-theme="g100"] {
//   @media (prefers-color-scheme: dark) {
//     .docblock-source,
//     pre.prismjs {
//       background-color: theme.$layer !important;
//     }
//   }
//   @media (prefers-color-scheme: light) {
//     .docblock-source,
//     pre.prismjs {
//       background-color: theme.$background-inverse !important;
//     }
//   }
// }

// todo^ prismjs inconsistencies overrides
[storybook-carbon-theme="white"],
[storybook-carbon-theme="g10"] {
  .css-8ycahn .css-4zr3vl {
    background-color: #262626 !important;
  }
  .css-1dnv2kn .css-4zr3vl {
    background-color: theme.$layer !important;
  }
}
[storybook-carbon-theme="g90"],
[storybook-carbon-theme="g100"] {
  .css-8ycahn .css-4zr3vl {
    background-color: theme.$layer !important;
  }
  .css-1dnv2kn .css-4zr3vl {
    background-color: theme.$background-inverse !important;
  }
}
// todo^ prismjs inconsistencies overrides

.sbdocs-preview > div:last-child:not(.docs-story) {
  button {
    @include mixins.button("sm", "secondary");
  }
}

.docblock-colorpalette {
  * {
    color: theme.$text-secondary !important;
    border-radius: 0 !important;
  }
}

.docblock-typeset {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid theme.$border-subtle !important;
  background-color: theme.$layer !important;
  * {
    color: theme.$text-primary !important;
  }
}

.docblock-icongallery div > div:first-child {
  background-color: theme.$layer;
  border-radius: 0;
  border: 1px solid theme.$border-subtle;
  box-shadow: none;
}
.docblock-icongallery div > div:last-child {
  color: theme.$text-primary;
}
