@use "@carbon/layout";
@use "@carbon/styles/scss/theme";
@use "@carbon/styles/scss/components/button/tokens";

#panel-tab-content {
  height: calc(100% - 41px) !important;
  margin-top: 1px !important;
  background: theme.$background !important;

  button[title="Reset controls"] {
    min-block-size: layout.$spacing-06 !important;
    min-inline-size: layout.$spacing-06 !important;
    border-radius: 0 !important;
    background: transparent !important;
    color: theme.$text-primary !important;

    &:focus {
      box-shadow: inset 0 0 0 2px theme.$focus !important;
    }

    &:hover {
      background-color: theme.$background-hover !important;
    }

    &:active {
      background-color: theme.$background-active !important;
    }
  }

  a {
    &:hover {
      background-color: theme.$background-hover !important;
    }

    &:active {
      background-color: theme.$background-active !important;
    }
  }

  table.docblock-argstable {
    > thead.docblock-argstable-head > tr > th > span {
      color: theme.$text-primary !important;
    }

    > tbody.docblock-argstable-body {
      > tr:not([title]) > td {
        background: theme.$background !important;
        border-top: 1px solid theme.$border-subtle-01 !important;

        .css-mkjjps,
        .css-o1d7ko {
          background: theme.$layer-01 !important;
          border: 1px solid theme.$border-subtle-01 !important;
          border-radius: 0 !important;
          color: theme.$text-secondary !important;
        }

        span[title="Required"] {
          color: theme.$support-error !important;
        }

        button,
        input:not([type="radio"]):not([type="checkbox"]),
        textarea,
        select {
          border-radius: 0 !important;
          box-shadow: none !important;
          background-color: theme.$layer-01 !important;
        }

        input:not([type="radio"]):not([type="checkbox"]):not([type="range"]),
        textarea,
        select {
          box-shadow: inset 0 -1px 0 theme.$border-strong-01 !important;
        }

        input:not([type="radio"]):not([type="checkbox"])::placeholder,
        textarea::placeholder,
        select::placeholder {
          color: theme.$text-secondary !important;
        }

        button:hover,
        input:not([type="radio"]):not([type="checkbox"]):hover,
        textarea:hover,
        select:hover {
          background-color: theme.$layer-hover-01 !important;
        }

        button:active,
        input:not([type="radio"]):not([type="checkbox"]):active,
        textarea:active,
        select:active {
          background-color: theme.$layer-active-01 !important;
        }

        button:focus,
        input:not([type="radio"]):not([type="checkbox"]):focus,
        textarea:focus,
        select:focus {
          box-shadow: inset 0 0 0 2px theme.$focus !important;
        }

        input[type="radio"] {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 1px solid theme.$icon-primary;
          background-color: theme.$background;
          cursor: pointer;
          position: relative;
          transition:
            border-color 0.15s,
            background-color 0.15s,
            box-shadow 0.15s;

          &:checked::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: theme.$icon-primary;
            transform: translate(-50%, -50%);
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 2px theme.$focus !important;
          }
        }

        input[role="switch"]:checked ~ span:last-of-type,
        input[role="switch"]:not(:checked) ~ span:first-of-type {
          background-color: theme.$layer-01 !important;
        }

        label:has(input[role="switch"]) {
          background-color: theme.$background !important;
        }

        input[role="switch"]:focus {
          box-shadow: 0 0 0 2px theme.$focus !important;
        }

        input[role="switch"]:checked ~ span:last-of-type,
        input[role="switch"]:not(:checked) ~ span:first-of-type {
          box-shadow: inset 0 0 0 1px theme.$border-strong-01 !important;
        }

        input[type="date"],
        input[type="time"] {
          color-scheme: light;
        }

        :root[storybook-carbon-theme="g90"] input[type="date"],
        :root[storybook-carbon-theme="g100"] input[type="date"],
        :root[storybook-carbon-theme="g90"] input[type="time"],
        :root[storybook-carbon-theme="g100"] input[type="time"] {
          color-scheme: dark;
        }
      }

      > tr[title~="items"] {
        background: theme.$layer-01;

        &:has(button:focus) {
          box-shadow: inset 0 0 0 2px theme.$focus !important;
          background: theme.$layer-01;
        }

        > td {
          background-color: transparent !important;
          color: theme.$text-primary !important;

          > span > svg {
            color: theme.$icon-primary !important;
          }

          > button:focus {
            outline: none !important;
          }
        }
      }
    }
  }

  .docblock-source {
    background-color: theme.$background !important;
    border-radius: 0 !important;
    border: 1px solid theme.$border-subtle-01 !important;
  }
}
