@use "@carbon/layout";
@use "@carbon/styles/scss/type";
@use "@carbon/styles/scss/theme";
@use "@carbon/styles/scss/components/button/tokens" as button-tokens;
@use "mixins";
@use "panel-shared";

// docs page preview
#storybook-docs {
  .sbdocs-preview > .docs-story {
    background-color: theme.$background;
  }
}
