@use "@carbon/layout" as *;
@use "@carbon/styles/scss/type" as *;
@use "@carbon/styles/scss/theme" as *;
@use "@carbon/styles/scss/components/button/tokens" as button-tokens;
@use "mixins" as *;
@use "panel-shared" as *;

// docs page preview
#storybook-docs {
  .sbdocs-preview > .docs-story {
    background-color: $background;
  }
}
