@use "@carbon/styles/scss/theme" as *;
@use "@carbon/styles/scss/themes";

/**
 * CARBON THEME BASE
 * Applies Carbon Design System themes to the Storybook interface
 *
 * Available themes:
 * - white: Light theme with white background (default)
 * - g10: Light gray theme (Gray 10)
 * - g90: Dark gray theme (Gray 90)
 * - g100: Dark theme with black background (Gray 100)
 *
 * Themes are applied via the [storybook-carbon-theme] attribute on :root
 * This attribute is controlled by the theme switcher addon
 */

/**
 * Default Theme
 * Applied when no theme attribute is present
 */
:root {
  @include theme(themes.$white);
}

/**
 * White Theme (Light)
 * IBM Design Language: White background
 */
:root[storybook-carbon-theme="white"] {
  @include theme(themes.$white);
}

/**
 * Gray 10 Theme (Light)
 * IBM Design Language: Light gray background
 */
:root[storybook-carbon-theme="g10"] {
  @include theme(themes.$g10);
}

/**
 * Gray 90 Theme (Dark)
 * IBM Design Language: Dark gray background
 */
:root[storybook-carbon-theme="g90"] {
  @include theme(themes.$g90);
}

/**
 * Gray 100 Theme (Dark)
 * IBM Design Language: Black background
 */
:root[storybook-carbon-theme="g100"] {
  @include theme(themes.$g100);
}
